<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<!-- {!begin task bar} -->
<div th:include="layout :: task-bar"/>
<!-- {!end task bar} -->


<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<div class="container">
  <table id="f" class="table table-bordered table-16">
    <thead>
      <tr>
        <th>ID</th>
        <th th:text="#{service.item}">Service Item</th>
        <th th:text="#{currency}">Unit Price</th>
        <th th:text="#{price}">Unit Price</th>
        <th th:text="#{comment}">Comment</th>
        <th>
          <button type="submit" class="btn btn-default btn-block btn-xs" name="addServiceItem">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="serviceItem, rowStat : ${serviceItemList}">
        <td><span th:text="${serviceItemList[__${rowStat.index}__].id}" /></td>
        <td><span th:text="${serviceItemList[__${rowStat.index}__].serviceSubtype}" /></td>
        <td><span th:text="${serviceItemList[__${rowStat.index}__].currency}" /></td>
        <td><span th:text="${serviceItemList[__${rowStat.index}__].quotation}" /></td>
        <td><span th:text="${serviceItemList[__${rowStat.index}__].comment}" /></td>        
        <td>
            <button type="submit" name="removeServiceItem" class="btn btn-default btn-block btn-sm" th:value="${rowStat.index}" >
                <i class="glyphicon glyphicon-minus"></i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
  var orderId = [[${task.orderId}]]
/*]]>*/
</script>
</body>

</html>
