<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--
      - title
      - action
      -->
    <div th:fragment="title-bar(title, action)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>
        
            <div class="col-lg-6">
              <form class="pull-right form-inline" method="GET" role="form" th:action="${action}" th:object="${searchBarForm}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{type}"/>
                <div class="input-group">
                  <input type="text" class="form-control" th:field="*{text}" th:placeholder="#{customer.name} + #{or} + #{order.no}" />
                  <span class="input-group-btn">                    
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" /></button>
                  </span>
                </div><!-- input-group -->
              </form>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- /.container -->
      </div><!-- title-bar -->
    </div>

    <div th:fragment="delete-order-modal">
      <!-- Modal -->
      <div class="modal" id="deleteOrderDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel"><span th:text="#{order.delete}" /></h4>
                  </div>
                  <div class="modal-body">
                      <p>
                          <span class="glyphicon glyphicon-warning-sign text-danger" /> 
                          <span th:text="#{order.delete}" /><span> </span><b id="_orderId"></b>?
                      </p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span th:text="#{modal.close}" /></button>
                      <button id="deleteOrderButton" type="button" class="btn btn-danger"><span th:text="#{delete}" /></button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    </div>
  </body>
</html>
