<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    
    <!--
      - title
      -->
    <div th:fragment="title-bar(title)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>  
                  
            <div class="col-lg-6">     
              <div th:include="layout :: enhanced-search-bar"></div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- title-bar -->
    </div>

    <!--
      - title
      -->
    <div th:fragment="title-bar-0(title)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>  
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- title-bar -->
    </div>


  </body>
</html>
