<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>

    <div th:fragment="title-bar">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{gross.profit}"></span></h3>
            </div>  
                  
            <div class="col-lg-6">     
              <div th:include="layout :: enhanced-search-bar"></div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- title-bar -->
    </div>

  </body>
</html>
