<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    
    <!--
      - title
      -->
    <div th:fragment="title-bar(title)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>  
                  
            <div class="col-lg-6">     
              <div th:include="layout :: enhanced-search-bar"></div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- title-bar -->
    </div>

    <!--
      - title
      -->
    <div th:fragment="title-bar-0(title)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>  
          </div><!-- row -->
        </div><!-- container -->
      </div><!-- title-bar -->
    </div>

    <div th:fragment="tab">
      <div class="container-fluid">
        <ul class="nav nav-tabs">
          <li class="active" th:class="${tab} == 'purchases' ? 'active'">
            <a th:href="'/accounting/aps/' + ${serviceProviderId} + '/purchases'" th:text="#{purchases}">Purchases</a>
          </li>
          <li class="active" th:class="${tab} == 'statements' ? 'active'">
            <a th:href="'/accounting/aps/' + ${serviceProviderId} + '/statements'" th:text="#{statements}">Order Amount</a>
          </li>
          <li class="active" th:class="${tab} == 'overview' ? 'active'">
            <a th:href="'/accounting/aps/' + ${serviceProviderId}" th:text="#{overview}">Overview</a>
          </li>
        </ul>
      </div><!-- /.container -->
    </div>
  </body>
</html>
