<!DOCTYPE html>
<html>
<head>
    <!--
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    -->

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Liquid</title>
    
    <!-- Bootstrap -->
    <link href="/resources/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="/resources/css/liquid.css" rel="stylesheet"/>
    <link href="/resources/css/typeahead.css" rel="stylesheet"/>
    <link href="/resources/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link rel="icon" href="/resources/favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/resources/html5shiv/html5shiv.js"></script>
      <script src="/resources/respond/respond.min.js"></script>
    <![endif]-->    
</head>

<body>

<div th:fragment="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" th:text="#{branding}">Branding</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <a href="/user" th:text="#{user}">User</a>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_COMMERCE')">
                        <a href="/task" th:text="#{task}">Task</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{order}">Order</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/order" th:text="#{order}">Shipping Order</a></li>
                            <li><a href="/order?status=3" th:text="#{order.discarded}">Discarded Order</a></li>                            
                        </ul>
                    </li>
                    <!--
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{route}">Route</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/route" th:text="#{route}">Route<b class="caret"></b></a></li>
                            <li><a href="/shipment" th:text="#{shipment}">Shipment<b class="caret"></b></a></li>
                        </ul>
                    </li>
                    -->
                    <li sec:authorize="hasRole('ROLE_CONTAINER')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{container}">Container</span><b class="caret"></b>
                        </a>                    
                        <ul class="dropdown-menu">
                            <li><a href="/container" th:text="#{container}">Container</a></li>
                            <li><a href="/data_dict/container_subtype" th:text="#{container.subtype}">Sp Type</a></li>
                            <li><a href="/container/import" th:text="#{container.import}">Container Import</a></li>
                            <li><a href="/container/release/now" th:text="#{container.release.info}">Container Release</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasRole('ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{charge}">Financial Service</span><b class="caret"></b>
                        </a>                        
                        <ul class="dropdown-menu">
                            <li><a href="/accounting/gross_profit" th:text="#{gross.profit}">Gross Profit</a></li>
                            <li><a href="/accounting/summary" th:text="#{charge.summary}">Financial Summary</a></li>
                            <li><a href="/accounting/receivable" th:text="#{charge.receivable}">Account Receivable</a></li>
                            <li><a href="/accounting/payable" th:text="#{charge.payable}">Account Payable</a></li>                            
                        </ul>                        
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{customer.service}">Customer Service</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/customer" th:text="#{customer}">Customer</a></li>
                            <li><a href="/service_subtype" th:text="#{service.subtype}">Service Subtype</a></li>
                            <!--
                            <li><a href="/service_item" th:text="#{service.item}">service Item</a></li>
                            -->
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_OPERATING')">
                        <a href="/sp" th:text="#{sp}">SP</a>
                    </li>
                    <li class="dropdown"
                        sec:authorize="hasAnyRole('ROLE_MARKETING', 'ROLE_CONTAINER', 'ROLE_OPERATING', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{data.dict}">Data Dict</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/charge/exchange_rate" th:text="#{exchange.rate}">Exchange Rate</a></li>
                            <li><a href="/tax_rate" th:text="#{tax.rate}">Tax Rate</a></li>                            
                            <li><a href="/goods" th:text="#{goods}">Cargo</a></li>
                            <li><a href="/location" th:text="#{location}">Location</a></li>
                            <li><a href="/sp_type" th:text="#{sp.type}">Sp Type</a></li>
                            <li><a href="/service_type" th:text="#{service.type}">Sp Type</a></li>
                            <li><a href="/railway_plan_type" th:text="#{railway.plan.type}">Railway Plan Type</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span th:text="#{diagram}">Diagram</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/diagram/service0" th:text="#{service.type} + '[0]'">Service Type</a></li>
                            <li><a href="/diagram/shipping" th:text="#{service.type} + '[1-4]'">Service Type</a></li>
                            <li><a href="/diagram/port" th:text="#{service.type} + '[5]'">Service Type</a></li>
                            <li><a href="/diagram/truck" th:text="#{service.type} + '[6]'">Service Type</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_COMMERCE')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>&nbsp;
                            <span sec:authentication="name">Logged User Name</span>
                            [
                            <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{role.admin}"></span>
                            <span sec:authorize="hasRole('ROLE_SALES')" th:text="#{role.sales}"></span>
                            <span sec:authorize="hasRole('ROLE_MARKETING')" th:text="#{role.marketing}"></span>
                            <span sec:authorize="hasRole('ROLE_OPERATING')" th:text="#{role.operating}"></span>
                            <span sec:authorize="hasRole('ROLE_CONTAINER')" th:text="#{role.container}"></span>
                            <span sec:authorize="hasRole('ROLE_COMMERCE')" th:text="#{role.commerce}"></span>
                            ]
                            <b class="caret" />
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="'/user/' + ${#authentication.name}">
                                    <i class="glyphicon glyphicon-cog" /> <span th:text="#{apply}">Apply Change</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SALES', 'ROLE_MARKETING', 'ROLE_OPERATING', 'ROLE_CONTAINER', 'ROLE_COMMERCE')">
                        <a href="/logout" th:text="#{logout}">Logout</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div><!--/header -->

<!-- TaskDto Bar -->
<div th:fragment="task-bar">
  <div class="title-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <h3>
              <span th:text="${task.name}">Task Name</span>
              [<a target="_blank" th:href="'/order/' + ${task.orderId}" th:text="${task.orderNo}">Order Link</a>]
              <span th:text="'[' + ${task.assignee} + ']'" th:if="${task.assignee}"/>
              <small th:text="${task.description}"></small>
          </h3>
        </div>

        <div class="col-lg-1">
          <form th:unless="${task.assignee}" th:action="'/task/' + ${task.id}" method="POST">
            <button type="submit" name="claim" value="Claim" class="btn btn-primary btn-block">
              <span th:text="#{task.claim}"/>
            </button>                                        
          </form>
          <div th:if="${task.assignee}" class="right">
            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#completeTask" th:disabled="${#authentication.name} != ${task.assignee}">
              <span th:text="#{task.complete}"/>
            </button>    
          </div>
        </div>
        <div class="col-lg-1">
          <div class="right">
            <button class="btn btn-warning btn-block" data-toggle="modal" data-target="#passTask">
              <span>PASS</span>
            </button>                                        
          </div>
        </div>
      </div><!-- row -->
    </div><!-- container -->
  </div><!-- title-bar -->
  <!-- Complete Modal -->
  <div class="modal" id="passTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel"><span>PASS</span></h4>
              </div>
              <div class="modal-body">
                  <form id="passForm" method="POST" th:action="'/task/' + ${task.id}">
                      <input type="hidden" name="pass" value="Pass" /> 
                      <div class="form-group">
                        <label for="reason" class="control-label" th:text="#{reason}">Reason</label>
                        <input type="text" id="resaon" name="reason" class="form-control" />
                      </div>
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                          <span th:text="#{modal.close}"/>
                      </button>
                      <button type="submit" form="passForm" class="btn btn-warning btn-sm">
                          <span>PASS</span>
                      </button>
                  </form>
              </div>
              <div class="modal-footer">
             </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- Complete Modal -->
  <div class="modal" id="completeTask" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel"><span th:text="#{task.complete}" /></h4>
              </div>
              <div class="modal-body">
                  <p>
                      <span class="glyphicon glyphicon-warning-sign text-danger" />               
                      <span th:text="#{modal.complete.task}" />
                  </p>
              </div>
              <div class="modal-footer">
                  <form th:action="'/task/' + ${task.id}" method="POST">
                      <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                          <span th:text="#{modal.close}"/>
                      </button>
                      <button type="submit" name="complete" value="Complete" class="btn btn-success btn-sm">
                          <span th:text="#{task.complete}"/>
                      </button>
                  </form>
              </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal --> 
</div>

<!--
- Variables
- searchBarForm
-   action:
-   types:
-   type:
-   text: 
-->
<div th:fragment="search-bar">
    <br />
    <form method="GET" class="form-inline pull-right" role="form" th:action="${searchBarForm.action}" th:object="${searchBarForm}">
        <select th:unless="${#lists.isEmpty(searchBarForm.types)}" name="type" class="form-control input-sm" th:field="*{type}">
            <option th:each="t : ${searchBarForm.types}"
                    th:value="${t[0]}"
                    th:text="#{${t[1]}}">
            </option>
        </select>
                            
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" th:field="*{text}" />
            
            <span class="input-group-btn">                    
                <button type="submit" name="search" class="btn btn-primary"><span class="glyphicon glyphicon-search" /></button>
            </span>
        </div>             
    </form>
</div>

<!--
- Variables
- searchBarForm
-   id:
-   type:
-   number:
-   startDate:
-   endDate:
-   text: 
-->
<div th:fragment="enhanced-search-bar">
  <form method="GET" class="form-inline pull-right" role="form" th:action="${searchBarForm.action}" th:object="${searchBarForm}">
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{type}"/>
      <input type="hidden" th:field="*{number}"/>
      <div class="input-group date" id="startPicker">
          <span class="input-group-addon" th:text="#{start.date}">Start Date</span>
          <input type="text" data-date-format="YYYY-MM-DD HH:mm" class="form-control" th:field="*{startDate}" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
      
      <div class="input-group date" id="endPicker">
          <span class="input-group-addon" th:text="#{end.date}">End Date</span>
          <input type="text" data-date-format="YYYY-MM-DD HH:mm" class="form-control" th:field="*{endDate}" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>                
                          
      <div class="input-group">
          <input type="text" class="form-control" th:field="*{text}" />
          
          <span class="input-group-btn">                    
              <button type="submit" name="search" class="btn btn-primary"><span class="glyphicon glyphicon-search" /></button>
          </span>
      </div>             
  </form> 
</div>
<!--
- Variables
- contextPath: The context path except number, e.g. /order? or /order?type=abc&.
- page:
-->
<div th:fragment="pagination_bar(href)">
    <div class="text-center">
        <ul class="pagination pagination-sm">
            <li>
                <a th:href="${href} + 'number=0'">&laquo;</a>
            </li>
            <li><a th:if="${page.hasPrevious()}"
                   th:href="${href} + 'number=' + ${page.number - 1}"
                   th:text="${page.number}">1</a></li>
            <li><a href="" th:text="${page.number + 1}">2</a></li>
            <li><a th:if="${page.hasNext()}"
                   th:href="${href} + 'number=' + ${page.number + 1}"
                   th:text="${page.number + 2}">3</a></li>
            <li><a th:href="${href} + 'number=' + ${page.totalPages - 1}">&raquo;</a>
            </li>
        </ul>
    </div> 
</div>

<!--
- Input text
- @alert
-->
<div th:fragment="input_text(field_name, label_text, placeholder, required)">
  <div class="form-group" th:classappend="${#fields.hasErrors(field_name)} ? 'has-error'">
    <label class="col-xs-4 control-label">
      <span th:text="#{${label_text}}">Customer</span>
      <span th:if="${required}">*</span>
    </label>
    <div class="col-xs-7">
      <input type="text" class="form-control" th:field="*{__${field_name}__}" th:placeholder="${placeholder} ? #{${placeholder}} : ''"/>
    </div>
    <span class="text-danger col-xs-8 col-xs-offset-4" th:errors="*{__${field_name}__}">error</span>
  </div>
</div>

<!--
- Input location
- @alert
-->
<div th:fragment="input_location(field_name, label_text, placeholder, location_name, required)">
  <div class="form-group" th:classappend="${#fields.hasErrors(field_name)} ? 'has-error'">
    <label class="col-lg-4 control-label">
      <span th:text="#{${label_text}}">Origin</span>
      <span th:if="${required}">*</span>
    </label>
    <div class="col-lg-7">
      <input type="text" class="form-control" th:placeholder="${placeholder} ? #{${placeholder}} : ''" th:id="${location_name}" th:name="${location_name}" th:value="${__${location_name}__}" />
      <input type="hidden" th:field="*{__${field_name}__}"/>
    </div>
    <span class="text-danger col-xs-8 col-xs-offset-4" th:errors="*{__${field_name}__}">error</span>            
  </div>
</div>

<!--
- @alert
-->
<div th:fragment="alert">
    <div th:if="${alert}" class="alert" role="alert" th:classappend="${alert.css}">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span     th:if="${#arrays.isEmpty(alert.arguments)}" th:utext="#{${alert.code}}">Alert</span>
        <!-- HACK -->
        <span th:unless="${#arrays.isEmpty(alert.arguments)}" th:utext="#{${alert.code}(__${#strings.listJoin(alert.arguments, ',')}__)}">Alert</span>
    </div>
</div>

<!--
- Purchage
-->
<div th:fragment="purchase">
  <div class="container" th:if="${task.assignee}">
    <table class="table table-striped table-hover table-condensed table-16">
      <thead>
        <tr>
          <th th:text="#{trans.mode}">Trans Mode</th>
          <th th:text="#{service.item}">Type</th>
          <th th:text="#{sp.name}">SP Name</th>
          <th th:text="#{charge.way}">Way</th>
          <th th:text="#{unit.price}">Unit Price</th>
          <th th:text="#{charge.total.price}">Total Price</th>                    
          <th th:text="#{currency}">Currency</th>                    
          <th th:text="#{comment}">Comment</th>
          <th>
            <a data-toggle="modal" data-target="#addPurchase" href="#">
              <span class="glyphicon glyphicon-plus text-success" />
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="purchase : ${purchases}">
          <td><span th:text="#{${transModes[purchase.transportMode]}}"></span></td>
          <td th:text="${purchase.serviceSubtype.name}">Trans Mode</td>
          <td th:text="${purchase.sp.name}">SP Name</td>
          <td th:text="#{${chargeWays[__${purchase.chargeType}__].i18nKey}}">Way</td>
          <td>
            <span th:text="${#numbers.formatDecimal(purchase.unitPrice, 0, 'COMMA', 2, 'POINT')}">Unit Price</span>
          </td>
          <td>
            <span th:text="${#numbers.formatDecimal(purchase.totalAmount, 0, 'COMMA', 2, 'POINT')}">Total</span>
          </td>
          <td><span th:text="${purchase.currency}"></span></td>
          <td><span th:text="${purchase.comment}"></span></td>
          <td>
            <a href="#" name="voidPurchaseLink" data-toggle="modal" data-target="#voidPurchase"
              th:if="${purchase.status == 0}" th:attr="data-purchase-id=${purchase.id}">
              <span class="glyphicon glyphicon-trash text-success" aria-hidden="true"></span>
            </a>
            <span class="glyphicon glyphicon-trash text-danger" aria-hidden="true"
              th:if="${purchase.status == 1}"></span>
          </td>
        </tr>
      </tbody>
    </table>
  
    <div class="modal" id="addPurchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;" data-backdrop="static">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><span th:text="#{purchase}">Add Purchase</span></h4>
          </div>
          <div class="modal-body">
            <form id="purchaseForm" method="POST" th:action="'/purchase'"
              th:object="${purchase}">
              <input type="hidden" th:field="*{order}" />
              <input type="hidden" th:field="*{taskId}" />
  
              <div class="form-group form-group-sm">
                <label for="transportMode"  class="control-label" th:text="#{trans.mode}">Transport Mode</label>
                <select th:field="*{transportMode}" class="form-control input-sm">
                  <option th:each="option : ${transportModeOptions}"
                          th:value="${option.type}" th:text="#{${option.i18nKey}}">Transport Mode
                  </option>
                </select>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="serviceSubtype" class="control-label" th:text="#{charge.type}">Charge Type</label>
                <select th:field="*{serviceSubtype}" class="form-control input-sm">
                  <option th:each="serviceSubtype : ${serviceSubtypes}"
                          th:value="${serviceSubtype.id}"
                          th:text="${serviceSubtype.name}">Service Subtype
                  </option>
                </select>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="sp" class="control-label" th:text="#{sp}">SP</label>
                <select th:field="*{sp}" class="form-control input-sm">
                  <option th:each="sp : ${sps}"
                          th:value="${sp.id}"
                          th:text="${sp.name}">SP Name
                  </option>
                </select>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="chargeType" class="control-label" th:text="#{charge.way}">Charge Type</label>
                <select th:field="*{chargeType}" class="form-control input-sm">
                  <option th:each="chargeWay : ${chargeWays}"
                          th:value="${chargeWay.value}"
                          th:text="#{${chargeWay.i18nKey}}">
                      Charge Way
                  </option>
                </select>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="currency" class="control-label" th:text="#{currency}">Currency</label>
                <select th:field="*{currency}" class="form-control input-sm">
                    <option value="CNY">CNY</option>
                    <option value="USD">USD</option>
                </select>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="unitPrice" class="control-label">
                  <span th:text="#{unit.price}">Unit Price</span>
                  <span>*</span>
                </label>
                <input type="text" th:field="*{unitPrice}" class="form-control input-sm"/>
              </div>
  
              <div class="form-group form-group-sm">
                <label for="totalAmount" class="control-label" th:text="#{total}">Total Amount</label>
                <input type="text" id="totalAmount" name="totalAmount" class="form-control" readonly="readonly" />
              </div>
  
              <div class="form-group form-group-sm">
                <label for="comment" class="control-label" th:text="#{comment}">Comment</label>
                <input type="text" id="comment" name="comment" class="form-control" />
              </div>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                  <span th:text="#{modal.close}"/>
                </button>
                <button type="submit" name="add" value="add" form="purchaseForm" class="btn btn-warning btn-sm">
                  <span th:text="#{charge.add}">Add</span>
                </button>
            </form>
          </div>
  
          <div class="modal-footer">
         </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal" id="voidPurchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;" data-backdrop="static">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><span th:text="#{purchase}">Void Purchase</span></h4>
          </div>
          <div class="modal-body">
            <form id="voidPurchaseForm" method="POST" th:action="'/purchase'"
              th:object="${purchase}">
              <input type="hidden" name="voidPurchase" value="voidPurchase" />
              <input type="hidden" id="id" name="id" value="" />
              <div class="form-group">
                <label for="reason" class="control-label"><span th:text="#{comment}">Comment</span><span>*</span></label>
                <input type="text" id="comment" name="comment" class="form-control" />
              </div>
              <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                <span th:text="#{modal.close}"/>
              </button>
              <button type="submit" name="void" value="void" form="voidPurchaseForm" class="btn btn-warning btn-sm">
                <span th:text="#{purchase.void}">Void</span>
              </button>
            </form>
          </div>
  
          <div class="modal-footer">
         </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </div><!-- /.container -->
</div>

<!-- footer -->
<div th:fragment="footer">
  <footer>
    <p th:text="#{footer} + #{version} + ' ' + '' + #{build.date}">Copyright</p>
  </footer>
</div>
<!--/footer -->

<th:block th:fragment="js">

<script src="/resources/jquery/jquery.js"></script>
<script src="/resources/jquery-validation/jquery.validate.js"></script>
<script src="/resources/jquery-validation/localization/messages_zh.js"></script>
<script src="/resources/bootstrap/js/bootstrap.js"></script>
<script src="/resources/typeahead/typeahead.bundle.js"></script>
<script src="/resources/handlebars/handlebars.js"></script>
<script src="/resources/moment/moment-with-locales.js"></script>
<script src="/resources/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>      
<script src="/resources/react/react.js"></script>
<script src="/resources/react/JSXTransformer.js"></script>   
<script src="/resources/react-intl/react-intl.min.js"></script>   
<script src="/resources/js/liquid.js"></script>
<script src="/resources/js/locale-data/zh.js"></script>

</th:block>

<th:block th:fragment="js-task">
<script th:inline="javascript">
/*<![CDATA[*/
  var serviceSubtypes = /*[[${serviceSubtypes}]]*/[];
  var serviceProviders = /*[[${sps}]]*/[];
  var containerQuantity = /*[[${containerQuantity}]]*/[];
/*]]>*/
</script>

<script>
/*<![CDATA[*/
  $(document).ready(function() {
    $('#passForm').validate({
      rules: {
        'reason': 'required'
      },
      highlight: function(element) {
          $(element).parent().addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).parent().removeClass('has-error');
      },
      submitHandler: function(form) {
          form.submit();
      }
    });
    
    $('#voidPurchaseForm').validate({
      rules: {
        'comment': 'required'
      },
      highlight: function(element) {
          $(element).parent().addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).parent().removeClass('has-error');
      },
      submitHandler: function(form) {
          form.submit();
      }
    });

    function caculateTotal() {
      var totalAmount = 0;
      var unitPrice = $('#unitPrice').val();
      var chargeType = $('#chargeType').val();
      console.log('totalAmount: %f; containerQuantity: %d; unitPrice: %f; chargeType: %d.', totalAmount, containerQuantity, unitPrice, chargeType);

      if(chargeType == 1) {
        totalAmount = unitPrice * containerQuantity;
      } else {
        totalAmount = unitPrice;
      } 

      $('#totalAmount').val(totalAmount);
    }

    $('#unitPrice').change(caculateTotal);
    $('#chargeType').change(caculateTotal);

    $('a[name="voidPurchaseLink"]').click(function() {
      var purchaseId = $(this).data('purchase-id');
      console.log('Purchase id: %s', purchaseId);
      $('.modal-body #id').val(purchaseId);
    });

    $('#purchaseForm').validate({
      rules: {
        'unitPrice': {
          required: true,
          number: true
        },
      },
      highlight: function(element) {
          $(element).parent().addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).parent().removeClass('has-error');
      },
      submitHandler: function(form) {
          form.submit();
      }
    });
    
    function computeProvider() {
      var filteredProviders = [];
      var serviceSubtypeId = $('#serviceSubtype option:selected').val();
      for(var i = 0; i < serviceProviders.length; i++) {
        for(var j = 0; j < serviceProviders[i].subtypes.length; j++) {
          if(serviceSubtypeId == serviceProviders[i].subtypes[j].id) {
            filteredProviders.push(serviceProviders[i]);
            break;
          }
        } 
      }
      $('#sp').empty();
      for(var i = 0; i < filteredProviders.length; i++) {
        $('#sp').append($('<option></option>').attr('value', filteredProviders[i].id).text(filteredProviders[i].name));
      }
    }
    computeProvider();
    $('#serviceSubtype').change(computeProvider);

  }); // ready end
/*]]>*/
</script>
  
</th:block>

</body>

</html>
