<!DOCTYPE html>
<html style="background-size:cover;background-image:url(resources/images/bg.jpg);">

  <head th:replace="layout :: head" />

  <body style="background-color: transparent;">
    <div class="container" style="margin-top: 20px;">
   
      <form class="form-signin" action="/login" method='POST'>
        <h1 style="color: white;" class="form-signin-heading">Liquid</h1>
        <input type="text" name="username" class="form-control" th:placeholder="#{username}" />
        <input type="password" name="password" class="form-control" th:placeholder="#{password}" />

        <div class="alert alert-danger" role="alert" th:if="${param.error}">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button> 
          <div th:each="error : ${param.error}">
            <span th:text="#{${error}}">Alert</span>
          </div>
        </div>
 
        <button class="btn btn-primary btn-lg btn-block" type="submit"><span th:text="#{login}" /></button>

        <p class="text-center" style="margin-top: 10px;">
          <a style="color: white; font-size: 14px; font-weight: bold;" href="/user/register"><span th:text="#{register}">Register</span></a>
        </p>

      </form>
    
    </div><!-- container -->

    <footer>
      <p style="color: white;" th:text="#{footer} + #{version} + ' ' + '' + #{build.date}">Copyright</p>
    </footer>

    <div th:replace="layout :: js"></div>
  </body>
</html>
