<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>

<div th:fragment="left-side">
    <ul class="col-xs-2 nav nav-pills nav-stacked">
        <li th:classappend="${tab} == 'all' ? 'active'">
            <a href="/task?q=all" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBar.taskQueueSize}"></span>
                <span th:text="#{task.all}">Task Queue</span>
            </a>
        </li>
        <li th:classappend="${tab} == 'my' ? 'active'">
            <a href="/task?q=my" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBar.myTasksSize}">4</span>
                <span th:text="#{task.my}">My Task</span>
            </a>
        </li>
        <li th:classappend="${tab} == 'warning' ? 'active'">
            <a href="/task?q=warning" class="list-group-item">
                <span class="badge pull-right" th:text="${taskBar.warningsSize}">6</span>
                <span th:text="#{warning}">Warning</span>
            </a>
        </li>
    </ul>
</div>

<div th:fragment="list">
    <div class="container">
        <div th:include="layout :: alert" />
    
        <table class="table table-striped table-hover table-condensed table-16"
               sth:unless="${#lists.isEmpty(tasks)}">
            <thead>
            <tr>
                <th th:text="#{task.id}">Task ID</th>
                <th th:text="#{task.name}">Task Name</th>
                <th th:text="#{order.no}">Order No</th>
                <th th:text="#{task.create.time}">Task Cteate Date</th>
                <th th:text="#{task.start.time}">Start Time</th>
                <th th:text="#{task.claim.time}">Claim Time</th>
                <th th:text="#{task.end.time}">End Time</th>
                <th th:text="#{task.description}">Task Description</th>
                <th></th>
                <th th:text="#{task.owner}">Task Owner</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <form th:id="${task.id}" th:action="'/task/' + ${task.id}" method="POST">
                <td>
                    <a th:href="'/task/' + ${task.id}" th:text="${task.id}">Task ID</a>
                </td>
                <td th:text="${task.name}">Task Name</td>
                <td>
                    <a target="_blank" th:href="'/order/' + ${task.orderId}" th:text="${task.orderNo}">Order No</a>
                </td>
                <td th:text="${#dates.format(task.createDate, 'yyyy-MM-dd HH:mm')}">Task Create Date</td>                    
                <td th:text="${task.startTime} ? ${#dates.format(task.startTime, 'yyyy-MM-dd HH:mm')}">Start Time</td>
                <td th:text="${task.claimTime} ? ${#dates.format(task.claimTime, 'yyyy-MM-dd HH:mm')} : ''">Claim Time
                </td>
                <td th:text="${task.endTime} ? ${#dates.format(task.endTime, 'yyyy-MM-dd HH:mm')} : ''">End Time
                </td>
                <td th:text="${task.description}">Task Description</td>
                <td>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"
                          th:if="${task.assignee}">
                    </span> 
                </td>
                <td>
                   <select id="username" name="username" class="form-control input-sm">
                       <option th:each="userProfile: ${task.candidateUserList}"
                               th:value="${userProfile.username}"
                               th:text="${userProfile.lastName} + ${userProfile.firstName}"
                               th:selected="${task.assignee} == ${username}">
                       </option>
                   </select>
                </td>
               <td>
                    <button type="submit" name="assign" class="btn btn-sm btn-success" th:form="${task.id}">
                        <span th:text="#{task.assign}">Assign</span>
                    </button>
                </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div><!-- /.container -->
</div>

</body>
</html>
