<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br />

<div class="container">
    <table class="table table-striped table-hover table-condensed table-16" th:unless="${#lists.isEmpty(users)}">
        <thead>
        <tr>
            <th th:text="#{user.uid}">Account ID</th>
            <th th:text="#{user.name}">Name</th>
            <th th:text="#{email}">Email</th>
            <th><span th:text="#{cell}">Cell</span></th>
            <th><span th:text="#{phone}">Phone</span></th>                        
            <th><span th:text="#{enabled}">Enabled</span></th>
            <th th:text="#{apply}">Apply</th>
            <!--
            <th th:text="#{user.locked}">Locked</th>            
            <th th:text="#{password.reset}">Edit</th>
            -->
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.uid}">User ID</td>
            <td><span th:text="${user.surname} + ${user.givenName}">User Group</span></td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.cell}">Email</td>
            <td th:text="${user.phone}">Email</td>
            <td><span class="glyphicon glyphicon-flag" th:classappend="${user.enabled} ? 'text-success' : 'text-danger'"/></td>
            <td><a th:href="'/user/' + ${user.uid}"><i class="glyphicon glyphicon-cog text-muted"/></a></td>
            <!--
            <td>
                <a th:if="${user.pwdAccountLockedTime}" th:href="'/user/' + ${user.uid} + '?action=unlock'"
                   class="btn btn-default btn-xs">
                    <i class="glyphicon glyphicon-lock"/>
                </a>
                <a th:unless="${user.pwdAccountLockedTime}" th:href="'/user/' + ${user.uid} + '?action=lock'">
                    <i class="glyphicon glyphicon-ok"/>
                </a>
            </td>
            <td>
                <a th:href="'/user/password/' + ${user.uid}">
                    <i class="glyphicon glyphicon-cog"/>
                </a>
            </td>
            -->
        </tr>
        </tbody>
    </table>
</div><!-- container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->
</body>

</html>
