<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div th:include="accounting/fragments :: title-bar-0('finance.payable.sum')"></div>

<div class="container-fluid">

<!-- {!begin layout} -->
<div th:include="layout :: charge-tab"></div>
<!-- {!end layout} -->

  <table class="table table-striped table-hover table-condensed table-bordered table-16">
    <thead>
      <tr>
        <th>ID</th>
        <th th:text="#{sp.name}">SP Name</th>
        <th><span th:text="#{amount}">Total</span>(CNY)</th>
        <th><span th:text="#{amount}">Total</span>(USD)</th>
        <th><span th:text="#{invoiced.total}">Total Invoiced</span>(CNY)</th>
        <th><span th:text="#{invoiced.total}">Total Invoiced</span>(USD)</th>
        <th><span th:text="#{paid.total}">Total Paid</span>(CNY)</th>
        <th><span th:text="#{paid.total}">Total Paid</span>(USD)</th>
        <!--
        <th></th>
        -->
      </tr>
    </thead>
    <tbody>
      <tr th:each="item : ${page}">
        <td><span th:text="${item.id}" /></td>
        <td>
          <a th:href="'/accounting/aps/' + ${item.serviceProvider.id}"><span th:text="${item.serviceProvider.name}" /></a>
        </td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalCny, 0, 'COMMA', 2, 'POINT')}" /></td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalUsd, 0, 'COMMA', 2, 'POINT')}" /></td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalInvoicedCny, 0, 'COMMA', 2, 'POINT')}" /></td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalInvoicedUsd, 0, 'COMMA', 2, 'POINT')}" /></td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalPaidCny, 0, 'COMMA', 2, 'POINT')}" /></td>
        <td class="text-right"><span th:text="${#numbers.formatDecimal(item.totalPaidUsd, 0, 'COMMA', 2, 'POINT')}" /></td>
        <!--
        <td>
            <a th:href="'/accounting/aps/' + ${item.serviceProvider.id} + '/statements'">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
        </td>
        -->
      </tr>
    </tbody>
  </table>

  <div th:include="layout :: pagination_bar(${searchBarForm.href})"></div>        
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
  $(document).ready(function() {

  }); // ready end
/*]]>*/
</script>
</body>

</html>
