<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<br/>

<div id="order" class="container-fluid">
<form id="orderForm" action="/recv_order" method="POST" th:object="${order}" class="form-horizontal">
<div class="row">
<div class="col-lg-9">
  <h3 th:text="#{order.basic.info}">Order Basic Info</h3>
    <div class="row">
      <input type="hidden" th:field="*{id}" class="form-control"/>
      
      <div class="col-lg-3">
        <div class="form-group">
          <label class="col-lg-4 control-label" th:text="#{service.type}">Service Type</label>
          <div class="col-lg-8">
            <select th:field="*{serviceType}" class="form-control input-sm">
              <option th:each="serviceType : ${serviceTypes}"
                      th:value="${serviceType.id}" th:text="'(' + ${serviceType.code} + ')' + ${serviceType.name}">Service Type Name
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div th:include="layout::input_text('customer', 'customer', 'customer.name')" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div th:include="layout::input_text('consignee', 'consignee', null)" />
      </div>

      <div class="col-lg-3">
        <div th:include="layout::input_text('consigneePhone', 'consignee.phone', null)" />
      </div>
      
      <div class="col-lg-3">
        <div th:include="layout::input_text('consigneeAddress', 'consignee.address', null)" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div th:include="layout::input_location('source', 'origination', 'origination', 'sourceName')" />
      </div>

      <div class="col-lg-3">
        <div th:include="layout::input_location('destination', 'destination', 'destination', 'destinationName')" />
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label class="col-lg-4 control-label" th:text="#{goods}">Cargo</label>
          <div class="col-lg-8">
            <select th:field="*{goods}" class="form-control input-sm">
              <option th:each="goods : ${cargos}"
                      th:value="${goods.id}" th:text="${goods.name}">Cargo Name
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div th:include="layout::input_text('goodsWeight', 'goods.weight.with.unit', 'customer.name')" />
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label class="col-lg-4 control-label" th:text="#{container.type}">Container Type</label>
          <div class="col-lg-8">
            <label class="radio-inline" th:each="containerType : ${containerTypeMap}">
              <input type="radio" th:field="*{containerType}" th:value="${containerType.key}"/>
              <span th:for="${#ids.prev('containerType')}" th:text="#{${containerType.value}}">Container Type</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label class="col-lg-4 control-label" th:text="#{container.subtype}">Container Subtype</label>
          <div class="col-lg-8">
            <input type="hidden" id="_containerSubtype" th:value="*{containerSubtype} ? *{containerSubtype.id} : '' " />
            <select class="form-control input-sm" id="containerSubtype" name="containerSubtype"></select>
          </div>
        </div>
      </div> 
      
      <div class="col-lg-3">
        <div th:include="layout::input_text('containerQty', 'container.quantity', 'customer.name')" />
      </div>

      <div class="col-lg-3">
        <div th:include="layout::input_text('totalCny', 'price.cny', 'customer.name')" />
      </div>
    </div><!-- row -->
  </div>
  <!-- /#column1 -->

<!-- second column -->
<div class="col-lg-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span th:text="#{container.list}" />
            <button type="submit" class="btn btn-default btn-xs pull-right" name="addContainer">
                <span class="glyphicon glyphicon-plus"/>
            </button>
        </div>    

        <table id="f" class="table table-bordered table-16">
            <tbody>
            <tr th:each="bicCode,rowStat : *{containers}">
                <td>
                    <input type="hidden" th:field="*{containers[__${rowStat.index}__].id}" class="form-control"/>
                    <input type="text" class="form-control input-sm"
                           th:field="*{containers[__${rowStat.index}__].bicCode}"
                           th:classappend="${#fields.hasErrors('containers[__${rowStat.index}__].bicCode')}? 'fieldError'"/>
                </td>
                <td>
                    <button type="submit" name="removeContainer" class="btn btn-default btn-block btn-sm"
                            th:value="${rowStat.index}">
                        <span class="glyphicon glyphicon-minus"/>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>        
    </div>
</div>
</div>
<!-- /#column2 -->

<br/>

<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-2">
        <input type="submit" name="save" value="Save Order" class="btn btn-default btn-block btn-sm btn-success"
               th:attr="value=#{order.save}"/>
    </div>
    <div class="col-lg-2">
        <input type="submit" name="submit" value="Submit Order" class="btn btn-default btn-block btn-sm btn-primary"
               th:attr="value=#{order.submit}"/>
    </div>
</div>
</form>
</div>
<!-- /.container -->

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var boxSubtypeSet = {
          rail: [],
          self: []
        }
        var boxSubtype = $('#_containerSubtype').val()

        function cluster(data) {
          for (var i = 0; i < data.length; i++) { 
            if (data[i].containerType == 0) 
              boxSubtypeSet.rail.push(data[i])
            else if (data[i].containerType == 2) 
              boxSubtypeSet.self.push(data[i]) 
            else
              continue
          }
        }

        function initContainerSubtypeSelect(value) {
          if( value == 0) {
            $("#containerSubtype").find("option").remove().end()
            var flag = false
            for(var i = 0; i < boxSubtypeSet.rail.length; i++) {
              $("#containerSubtype").append($("<option></option>")
                .attr("value", boxSubtypeSet.rail[i].id)
                .text(boxSubtypeSet.rail[i].name))
              if(boxSubtype == boxSubtypeSet.rail[i].id)
                flag = true
            }
            if (flag)
              $("#containerSubtype").val(boxSubtype)
          }
          else {
            $("#containerSubtype").find("option").remove().end()
            var flag = false
            for(var i = 0; i < boxSubtypeSet.self.length; i++) {
              $("#containerSubtype").append($("<option></option>")
                .attr("value", boxSubtypeSet.self[i].id)
                .text(boxSubtypeSet.self[i].name))
              if(boxSubtype == boxSubtypeSet.rail[i].id)
                flag = true
            }
            if (flag)
              $("#containerSubtype").val(boxSubtype)
          }
        } 

        $.ajax({
          url: "/api/container-subtype"
        }).done(function(data) {
          console.log(data) 
          cluster(data)
          console.log(boxSubtypeSet)
          var value = $('input[name=containerType]:checked', '#orderForm').val()
          initContainerSubtypeSelect(value)
       });



        if($('input[name=loadingType]:checked', '#orderForm').val() == 0) {
            $("#loadingAddressSec").hide();
            $("#loadingEtSec").hide();
            $("#loadingContactSec").hide();
            $("#loadingPhoneSec").hide();
        }
        
        $("input[name$='loadingType']").click(function() {
            var value = $(this).val();
            if(value == 0) {
                $("#loadingAddressSec").hide();
                $("#loadingEtSec").hide();
                $("#loadingContactSec").hide();
                $("#loadingPhoneSec").hide();
            }
            else {
                $("#loadingAddressSec").show();
                $("#loadingEtSec").show();
                $("#loadingContactSec").show();
                $("#loadingPhoneSec").show();
            }
        });
        
        var customers = initCustomerAc();
        $('#customer').acWithTemplateAndName(customers, 'name', '<p><strong>{{name}}</strong> – {{code}}</p>');

        var locations = initAllLocationsAc();
        $('#sourceName').acWithTemplate(locations, 'name', 'source', '<p><strong>{{name}}</strong>[{{type.name}}]</p>');
        $('#destinationName').acWithTemplate(locations, 'name', 'destination', '<p><strong>{{name}}</strong>[{{type.name}}]</p>');

         $("input[name$='containerType']").click(function() {
            var value = $(this).val();
            initContainerSubtypeSelect(value)
         });
 
    });

    /*]]>*/
</script>
</body>

</html>
