<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">

  <table class="table table-striped table-hover table-condensed table-bordered table-16">
    <thead>
      <tr>
        <th><span th:text="#{order.no}">ID</span></th>
        <th><span th:text="#{customer.name}">Customer Name</span></th>
        <th><span th:text="#{container.quantity}">Container Quantity</span></th>
        <th><span th:text="#{goods.name}">Goods Name</span></th>
        <th><span th:text="#{cny.total}">Total CNY</span></th>
        <th><span th:text="#{usd.total}">Total USD</span></th>
        <th>
          <a data-toggle="modal" data-target="#addInvoice" href="#">
            <span class="glyphicon glyphicon-plus text-success" />
          </a>
          <span th:text="#{invoiced.at}">Invoiced At</span>
        </th>
        <th><span th:text="#{invoice.no}">Invoice No.</span></th>
        <th><span th:text="#{cny.of.invoice}">Invoice Amount CNY</span></th>
        <th><span th:text="#{usd.of.invoice}">Invoice Amount USD</span></th>
        <th>
          <a data-toggle="modal" data-target="#addReceipt" href="#">
            <span class="glyphicon glyphicon-plus text-success" />
          </a>
          <span th:text="#{date.of.receivable}">Received At</span>
        </th>
        <th><span th:text="#{actual.cny}">Received Amount CNY</span></th>
        <th><span th:text="#{actual.usd}">Received Amount USD</span></th>
        <!--
        <th>Not Received Amount CNY</th>
        <th>Not Received Amount USD</th>
        -->
      </tr>
    </thead>
    <tbody>
      <tr th:each="item, rowState : ${orderList}">
        <!-- orders -->
        <td>
          <a th:href="'/order/' + ${item.id}">
            <span th:text="${item.orderNo}" />
          </a>
        </td>
        <td><span th:text="${item.customer.name}" /></td>
        <td><span th:text="${item.containerQty}" /></td>
        <td><span th:text="${item.goods.name}" /></td>
        <td><span th:text="${item.totalCny}" /></td>
        <td><span th:text="${item.totalUsd}" /></td>
        <!-- invoices -->
        <td><span th:text="${salesInvoiceList[__${rowState.index}__].issuedAt}"></span></td>
        <td><span th:text="${salesInvoiceList[__${rowState.index}__].invoiceNo}"></span></td>
        <td><span th:text="${salesInvoiceList[__${rowState.index}__].amountCny}"></span></td>
        <td><span th:text="${salesInvoiceList[__${rowState.index}__].amountUsd}"></span></td>
        <!-- receipt -->
        <td><span th:text="${receiptList[__${rowState.index}__].receivedAt}"></span></td>
        <td><span th:text="${receiptList[__${rowState.index}__].amountCny}"></span></td>
        <td><span th:text="${receiptList[__${rowState.index}__].amountUsd}"></span></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span th:text="#{settled.total}">Settled Total</span></td>
        <td><span th:text="${receivableSummary.totalInvoicedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalInvoicedUsd}"></span></td>
        <td></td>
        <td><span th:text="#{invoiced.total}">Invoiced Total</span></td>
        <td><span th:text="${receivableSummary.totalInvoicedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalInvoicedUsd}"></span></td>
        <td><span th:text="#{received.total}">Received Total</span></td>
        <td><span th:text="${receivableSummary.totalReceivedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalReceivedUsd}"></span></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><span th:text="#{not.settled.total}">Not Settled Total</span></td>
        <td><span th:text="${receivableSummary.totalCny - receivableSummary.totalInvoicedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalUsd - receivableSummary.totalInvoicedUsd}"></span></td>
        <td></td>
        <td><span th:text="#{not.invoiced.total}">Not Invoiced Total</span></td>
        <td><span th:text="${receivableSummary.totalCny - receivableSummary.totalInvoicedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalUsd - receivableSummary.totalInvoicedUsd}"></span></td>
        <td><span th:text="#{not.received.total}">Not Received Total</span></td>
        <td><span th:text="${receivableSummary.totalInvoicedCny - receivableSummary.totalReceivedCny}"></span></td>
        <td><span th:text="${receivableSummary.totalInvoicedUsd - receivableSummary.totalReceivedUsd}"></span></td>
      </tr>
 
    </tbody>
  </table>

  <div class="modal" id="addInvoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <form id="invoiceForm" method="POST" th:action="'/accounting/ars/' + ${customerId} + '/invoices'"
        th:object="${invoice}">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><span th:text="#{invoice}">Add Invoice</span></h4>
          </div>

          <div class="modal-body">
            <div class="form-group form-group-sm">
              <label for="invoiceNo" class="control-label">
                <span th:text="#{invoice.no}">Invoice No.</span>
                <span>*</span>
              </label>
              <input type="text" th:field="*{invoiceNo}" class="form-control input-sm"/>
            </div>

            <div class="form-group form-group-sm">
              <label for="amountCny" class="control-label">
                <span th:text="#{cny.of.invoice}">Invoice Amount CNY</span>
                <span>*</span>
              </label>
              <input type="text" th:field="*{amountCny}" class="form-control input-sm"/>
            </div>

            <div class="form-group form-group-sm">
              <label for="amountUsd" class="control-label">
                <span th:text="#{usd.of.invoice}">Invoice Amount USD</span>
                <span>*</span>
              </label>
              <input type="text" th:field="*{amountUsd}" class="form-control input-sm"/>
            </div>

            <div class="form-group form-group-sm">
              <label for="issuedAt" class="control-label">
                <span th:text="#{invoiced.at}">Invoiced At</span>
                <span>*</span>
              </label>
              <div class='input-group input-group-sm date' id='issuedAtTimePicker'>
                <input type='text' data-date-format="YYYY-MM-DD HH:mm" class="form-control input-sm" th:field="*{issuedAt}" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>        
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
              <span th:text="#{modal.close}"/>
            </button>
            <button type="submit" name="add" value="add" form="invoiceForm" class="btn btn-warning btn-sm">
              <span th:text="#{save}">Add</span>
            </button>
          </div>
        </div><!-- /.modal-content -->

      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal" id="addReceipt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow-y: hidden;" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <form id="receiptForm" method="POST" th:action="'/accounting/ars/' + ${customerId} + '/receipts'"
        th:object="${receipt}">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><span th:text="#{receipt}">Add Receipt</span></h4>
          </div>

          <div class="modal-body">
            <div class="form-group form-group-sm">
              <label for="amountCny" class="control-label">
                <span th:text="#{actual.cny}">Total CNY</span>
                <span>*</span>
              </label>
              <input type="text" th:field="*{amountCny}" class="form-control input-sm"/>
            </div>

            <div class="form-group form-group-sm">
              <label for="amountUsd" class="control-label">
                <span th:text="#{actual.usd}">Total USD</span>
                <span>*</span>
              </label>
              <input type="text" th:field="*{amountUsd}" class="form-control input-sm"/>
            </div>

            <div class="form-group form-group-sm">
              <label for="receivedAt" class="control-label">
                <span th:text="#{date.of.receivable}">Received At</span>
                <span>*</span>
              </label>
              <div class='input-group input-group-sm date' id='receivedAtTimePicker'>
                <input type='text' data-date-format="YYYY-MM-DD HH:mm" class="form-control input-sm" th:field="*{receivedAt}" />
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>        
            </div>
          </div>
  
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
              <span th:text="#{modal.close}"/>
            </button>
            <button type="submit" name="add" value="add" form="receiptForm" class="btn btn-warning btn-sm">
              <span th:text="#{save}">Add</span>
            </button>
          </div>
        </div><!-- /.modal-content -->

      </form>
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
  $(document).ready(function() {
    $('#issuedAtTimePicker').dtPicker();
    $('#receivedAtTimePicker').dtPicker();

    $('#invoiceForm').validate({
      rules: {
        'invoiceNo': 'required',
        'amountCny': {
          required: true,
          number: true
        },
        'amountUsd': {
          required: true,
          number: true
        },
        'issuedAt': 'required'
      },
      highlight: function(element) {
          $(element).parent().addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).parent().removeClass('has-error');
      },
      submitHandler: function(form) {
          form.submit();
      }
    });

    $('#receiptForm').validate({
      rules: {
        'amountCny': {
          required: true,
          number: true
        },
        'amountUsd': {
          required: true,
          number: true
        },
        'receivedAt': 'required'
      },
      highlight: function(element) {
          $(element).parent().addClass('has-error');
      },
      unhighlight: function(element) {
          $(element).parent().removeClass('has-error');
      },
      submitHandler: function(form) {
          form.submit();
      }
    });
 
  }); // ready end
/*]]>*/
</script>
</body>

</html>
