<!DOCTYPE html>
<html>

<head th:replace="layout :: head" />

<body>
<!-- {!begin layout} -->
<div th:include="layout :: header"></div>
<!-- {!end layout} -->

<div class="container-fluid">
  <form method="POST" th:action="'/accounting/ars/' + ${customerId} + '/statements'">
    <table class="table table-striped table-hover table-condensed table-bordered table-16">
      <thead>
        <tr>
          <th></th>
          <th><span th:text="#{order.no}">ID</span></th>
          <th><span th:text="#{customer.name}">Customer Name</span></th>
          <th><span th:text="#{container.quantity}">Container Quantity</span></th>
          <th><span th:text="#{goods.name}">Goods Name</span></th>
          <th><span th:text="#{cny.total}">Total CNY</span></th>
          <th><span th:text="#{usd.total}">Total USD</span></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item, rowState : ${orderList}">
          <td>
            <input name="orderIds" type="checkbox" th:value="${item.id}" />
          </td>
          <td><span th:text="${item.orderNo}" /></td>
          <td><span th:text="${item.customer.name}" /></td>
          <td><span th:text="${item.containerQty}" /></td>
          <td><span th:text="${item.goods.name}" /></td>
          <td><span th:text="${item.totalCny}" /></td>
          <td><span th:text="${item.totalUsd}" /></td>
        </tr>
      </tbody>
    </table>
    
    <button type="submit">Submit</button>
  </form>
</div>

<!-- {!begin layout} -->
<div th:include="layout :: footer"></div>
<!-- {!end layout} -->

<!-- {!begin layout} -->
<div th:replace="layout :: js" />
<!-- {!end layout} -->

<script>
/*<![CDATA[*/
  $(document).ready(function() {
 
  }); // ready end
/*]]>*/
</script>
</body>

</html>
