<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <!--
      - title
      - action
      -->
    <div th:fragment="title-bar(title, action)">
      <div class="title-bar">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3><span th:text="#{${title}}"></span></h3>
            </div>
        
            <div class="col-lg-6">
              <form class="pull-right form-inline" method="GET" role="form" th:action="${action}" th:object="${searchBarForm}">
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{type}"/>
                <div class="input-group">
                  <input type="text" class="form-control" th:field="*{text}" th:placeholder="#{sp.name} + #{or} + #{invoice.no}" />
                  <span class="input-group-btn">                    
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" /></button>
                  </span>
                </div><!-- input-group -->
              </form>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- /.container -->
      </div><!-- title-bar -->
    </div>

  </body>
</html>
